*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:'Segoe UI',sans-serif;
    background:#F4F7F8;
    color:#1F2937;
}


.navbar{
    background:#fff !important;
    box-shadow:0 5px 20px rgba(20,184,166,.12);
    border-bottom:2px solid #14B8A6;
}

.navbar-brand{
    color:#14B8A6 !important;
    font-size:1.8rem;
    font-weight:700;
}

.nav-link{
    color:#374151 !important;
    margin-left:15px;
    transition:.3s;
}

.nav-link:hover,
.nav-link.active{
    color:#14B8A6 !important;
}


.dropdown-menu{
    background:#fff;
    border:none;
    border-radius:15px;
    box-shadow:0 10px 20px rgba(0,0,0,.08);
}

.dropdown-item{
    color:#374151;
    transition:.3s;
}

.dropdown-item:hover{
    background:#14B8A6;
    color:#fff;
}

.contact-header{
    background:#ffffff;
    border-bottom:2px solid #14B8A6;
    padding:60px 20px;
    text-align:center;
}

.contact-header h1{
    color:#14B8A6;
    font-weight:700;
    margin-bottom:15px;
}

.contact-header p{
    color:#6B7280;
    font-size:1.05rem;
}
.contact-info,
.contact-form{
    background:#fff;
    padding:35px;
    border-radius:22px;
    border:2px solid #E5F7F5;
    box-shadow:0 10px 25px rgba(0,0,0,.08);
    transition:.3s;
}

.contact-info:hover,
.contact-form:hover{
    border-color:#14B8A6;
    box-shadow:0 18px 40px rgba(20,184,166,.18);
}

.contact-info h3,
.contact-form h3{
    color:#14B8A6;
    margin-bottom:20px;
    font-weight:700;
}

.contact-info p{
    color:#4B5563;
    margin-bottom:15px;
    line-height:1.8;
}


.form-control{
    background:#F8FAFC;
    border:2px solid #D1FAE5;
    border-radius:12px;
    color:#374151;
    padding:12px 15px;
}

.form-control:focus{
    background:#fff;
    color:#111827;
    border-color:#14B8A6;
    box-shadow:0 0 0 .2rem rgba(20,184,166,.15);
}

.form-control::placeholder{
    color:#9CA3AF;
}


.btn-warning{
    background:#14B8A6;
    border:none;
    color:#fff;
    font-weight:600;
    border-radius:30px;
    padding:12px 28px;
    transition:.3s;
}

.btn-warning:hover{
    background:#0F9E8A;
    transform:translateY(-3px);
    box-shadow:0 10px 20px rgba(20,184,166,.25);
}

footer{
    background:#fff;
    border-top:2px solid #14B8A6;
    padding:40px 0;
    text-align:center;
}

footer h5{
    color:#14B8A6;
    font-weight:700;
}

footer p{
    color:#6B7280;
    margin-bottom:8px;
}


@media(max-width:768px){

    .contact-header{
        padding:40px 15px;
    }

    .contact-info,
    .contact-form{
        margin-bottom:25px;
        padding:25px;
    }
}