
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:'Segoe UI',sans-serif;
    background:#0f0f0f;
    color:white;
}

.navbar{
    background:#000 !important;
    box-shadow:0 2px 15px rgba(168,85,247,.2);
}

.navbar-brand{
    color:#a855f7 !important;
    font-size:1.8rem;
    font-weight:bold;
}

.nav-link{
    color:white !important;
    margin-left:15px;
    transition:.3s;
}

.nav-link:hover,
.nav-link.active{
    color:#a855f7 !important;
}

.hero{
    min-height: 50vh; 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 40px 20px;
}
.hero .container{
    background: #111;
    padding: 50px 30px;
    border-radius: 20px;
    border: 2px solid #a855f7;
    box-shadow: 0 0 25px rgba(168,85,247,0.3);
    max-width: 900px;
}

.hero h1{
    font-size: 2.8rem; 
    color: #a855f7;
}

.hero .lead{
    font-size: 1.1rem;
    margin-top: 10px;
}

.hero p{
    font-size: 0.95rem;
    margin-bottom: 15px;
}

.hero .btn{
    padding: 10px 25px;
    font-size: 1rem;
}


.btn-warning{
    background:#a855f7;
    border:none;
    color:white;
    font-weight:bold;
    padding:12px 30px;
    border-radius:30px;
}

.btn-warning:hover{
    background:#9333ea;
    transform:translateY(-3px);
}


h2{
    color:#a855f7;
    font-weight:bold;
}


.card{
    background:#181818;
    border:none;
    border-radius:15px;
    overflow:hidden;
    transition:.4s;
}

.card:hover{
    transform:translateY(-10px);
    box-shadow:0 0 25px rgba(168,85,247,.4);
}

.card img{
    height:280px;
    object-fit:cover;
}

.card-body{
    color:white;
}

.card h5{
    color:#fff;
}

.text-danger{
    color:#a855f7 !important;
}

.btn-dark,
.btn-outline-dark{
    border:1px solid #a855f7;
    color:#a855f7;
    background:transparent;
}

.btn-dark:hover,
.btn-outline-dark:hover{
    background:#a855f7;
    color:white;
}


section{
    padding-top:40px;
}


footer{
    background: #000;
    color: white;
    text-align: center;
    padding: 30px 0;
}

footer .col-md-4{
    margin: auto;
}

footer h5{
    color: #a855f7;
    margin-bottom: 10px;
}

footer p{
    margin-bottom: 5px;
}
@media(max-width:768px){

    .hero h1{
        font-size:2.5rem;
    }

    .hero .lead{
        font-size:1rem;
    }

    .card img{
        height:220px;
    }
}
.dropdown-menu{
    background:#111;
    border:1px solid #a855f7;
}

.dropdown-item{
    color:white;
}

.dropdown-item:hover{
    background:#a855f7;
    color:white;
}