*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:'Segoe UI',sans-serif;
    background:#0f0f0f;
    color:white;
}

/* Navbar */
.navbar{
    background:#000 !important;
    box-shadow:0 2px 15px rgba(168,85,247,.2);
}

.navbar-brand{
    color:#a855f7 !important;
    font-size:1.8rem;
    font-weight:bold;
}

.nav-link{
    color:white !important;
    margin-left:15px;
    transition:.3s;
}

.nav-link:hover,
.nav-link.active{
    color:#a855f7 !important;
}

/* Dropdown */
.dropdown-menu{
    background:#111;
    border:1px solid #a855f7;
}

.dropdown-item{
    color:white;
}

.dropdown-item:hover{
    background:#a855f7;
    color:white;
}

/* Tiêu đề */
section h1{
    color:#a855f7;
    font-size:3rem;
}

.text-muted{
    color:#bbb !important;
}

/* Card sản phẩm */
.card{
    background:#181818;
    border:none;
    border-radius:18px;
    overflow:hidden;
    transition:.4s;
}

.card:hover{
    transform:translateY(-10px);
    box-shadow:0 0 25px rgba(168,85,247,.5);
}

.card-img-top{
    height:320px;
    object-fit:cover;
}

.card-body h5{
    color:white;
    font-weight:bold;
}

.text-danger{
    color:#a855f7 !important;
}

/* Link sản phẩm */
a{
    text-decoration:none;
}

/* Footer */
footer{
    background:#000;
}

footer h5{
    color:#a855f7;
}

/* Mobile */
@media(max-width:768px){

    section h1{
        font-size:2rem;
    }

    .card-img-top{
        height:250px;
    }
}
/* CARD */
.card{
    border:none;
    border-radius:18px;
    overflow:hidden;
    transition:.3s;
    box-shadow:0 5px 15px rgba(0,0,0,.1);
}

.card:hover{
    transform:translateY(-8px);
    box-shadow:0 10px 25px rgba(212,175,55,.25);
}

.card-img-top{
    height:280px;
    object-fit:cover;
}

/* GIÁ */
.price{
    color:#d4af37;
    font-size:20px;
    font-weight:700;
}

/* NÚT CHI TIẾT */
.btn-detail{
    display:inline-block;
    margin-top:10px;
    padding:10px 25px;
    background:linear-gradient(135deg,#111,#333);
    color:#fff;
    text-decoration:none;
    border-radius:30px;
    font-weight:600;
    transition:.3s;
}

.btn-detail:hover{
    background:linear-gradient(135deg,#d4af37,#f5d76e);
    color:#111;
    transform:translateY(-3px);
    box-shadow:0 8px 20px rgba(212,175,55,.4);
}